/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f9;

}

/* Header */
header {
    text-align: center;
    margin-bottom: 20px;
    background-color: #014938;
    color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto
}

.line{
    width: 100%;
    height: 2px;
    background-color: #014938;
}


header h1 {
    font-size: 2.5em;
    margin-bottom: 0;
}

header p {
    font-size: 1.2em;
}

/* Sections */
section {
    background-color: #fff;
    margin: 20px 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto
}

section h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #014938;
}
.education-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.skills-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 15px;
}

.skill-box {
    flex: 1 1 30%;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    min-width: 250px;
}

.skill-box h3 {
    margin-bottom: 10px;
    font-size: 1.1rem;
    color: #014938;
}

.edu-skill-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 15px;
}

.education-box,
.soft-skills-box {
    flex: 1 1 45%;
    min-width: 280px;
}

.soft-skills-box h3 {
    margin-bottom: 10px;
    font-size: 1.1rem;
    color: #014938;
}

section p{
    font-size: 1.1em;
}


ul {
    list-style-type: disc;
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
    font-size: 1.1em;
}

/* Footer */
footer {
    text-align: center;
    margin-top: 30px;
    font-size: 1em;
}

/* media query */

@media (max-width: 768px) {
    .skills-container,
    .edu-skill-container {
        flex-direction: column;
    }

    .skill-box,
    .education-box,
    .soft-skills-box {
        flex: 1 1 100%;
    }

    header h1 {
        font-size: 2em;
    }

    section h2 {
        font-size: 1.5em;
    }

    section p,
    ul li {
        font-size: 1em;
    }
}
